<p id="notice"><%= notice %></p>

<h1><%= link_to 'Home', root_path %></h1>

<%= render 'posts/search' %>

<br>
      <% @client.user_timeline(params["search"]).take(10).each do |tweet| %>
      <tr>
        <td></td>
        <td><!-- <%= tweet.id %> -->
        <td><%= tweet.text %></td> --
        <td><%= tweet.user.screen_name %></td>
      </tr>
      <br>
      <br>
      <% end %>
<br>

